@using EasyBilling.Models.Pocos
@model EasyBilling.ViewModels.AccessRightsViewModel

@Model.TableHelper.GetSearchPanel()
<table class="table table-striped">
    @Model.TableHelper.GetTableHead()
    <tbody>
        @{
            int counter = 1;
            foreach (AccessRight item in Model.DataViewModel.Data)
            {
                <tr>
                    <th scope="row">@counter</th>
                    <td>@item.Role.Name</td>
                    <td>@item.ControllerName</td>
                    <td>@item.IsAvailable</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="#">Изменить</a>
                        @Html.ActionLink("Удалить", "DeleteAccessRight", "AccessRights", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
                counter++;
            }
        }
    </tbody>
</table>
@Model.TableHelper.GetPaginationPanel()