@using EasyBilling.Models.Pocos
@model EasyBilling.ViewModels.DataViewModel<AccessRight>

@await Model.TableHelper.GetSearchPanelAsync()
<table class="table table-striped">
    @await Model.TableHelper.GetTableHeadAsync()
    <tbody>
        @{
            int counter = 1;
            foreach (AccessRight item in Model.Data)
            {
                <tr>
                    <th scope="row">@counter</th>
                    <td>@item.Role.Name</td>
                    <td>@item.ControllerName</td>
                    <td>@item.IsAvailable</td>
                    <td>
                        <form asp-antiforgery="true" method="post" asp-action="Delete" class="form-inline">
                            <input type="hidden" value="@item.Id" name="id"/>
                            @Html.ActionLink("Изменить", "AddUpdateForm", "AccessRights", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                            <button class="btn btn-danger btn-sm" type="submit">Удалить</button>
                        </form>
                        @*@Html.ActionLink("Удалить", "Delete", "AccessRights", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })*@
                    </td>
                </tr>
                counter++;
            }
        }
    </tbody>
</table>
@await Model.TableHelper.GetPaginationPanelAsync()