<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Онлайн-Покер</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Онлайн-Покер", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="caret"></span>
                            Новая игра
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("NewGame", "Game", new { playerCount = 2 })">на 2-х игроков</a></li>
                            <li><a href="@Url.Action("NewGame", "Game", new { playerCount = 4 })">на 4-х игроков</a></li>
                            <li><a href="@Url.Action("NewGame", "Game", new { playerCount = 6 })">на 6 игроков</a></li>
                            <li><a href="@Url.Action("NewGame", "Game", new { playerCount = 8 })">на 8 игроков</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("CurrentGames", "Game")">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                            Текущие игры
                        </a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Онлайн-Покер ASP.NET</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
