@model OnlinePoker.Models.Game

<div id="poker-table" class="poker-table">
    <input type="hidden" id="game-id" value="@Model.Id" />
    <table>
        <tr><td colspan="3" id="player2"></td></tr>
        <tr>
            <td style="left: 100px" id="player5"></td>
            <td></td>
            <td style="left: -100px" id="player7"></td>
        </tr>
        <tr>
            <td style="left: -70px" id="player3">
            </td>
            <td>
                <div class="bank">
                    <img src="~/Content/images/poker-chips.png" width="100" />
                    <span id="bank-count">0</span>
                </div>
            </td>
            <td style="left: 70px" id="player4"></td>
        </tr>
        <tr>
            <td style="left: 100px" id="player6"></td>
            <td></td>
            <td style="left: -100px" id="player8"></td>
        </tr>
        <tr><td colspan="3" id="player1"></td></tr>
    </table>
</div>

@Scripts.Render("~/Scripts/jquery-3.3.1.js")
@Scripts.Render("~/Scripts/jquery.signalR-2.4.1.js")
@Scripts.Render("~/signalr/hubs")
@Scripts.Render("~/Scripts/poker.js")